@import "tailwindcss";

* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;

  background-color: var(--surface-color);
  font-family: var(--font-family);
}

section{
  @apply py-20 mx-auto flex items-center justify-center flex-col
}

h1{
  @apply font-extrabold text-3xl;
}

h2{
  @apply font-bold text-xl;
}
