@import "tailwindcss";

* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;

  background-color: var(--surface-color);
  font-family: var(--font-family);
}

section{
  @apply py-20 mx-auto flex items-center justify-center flex-col
}

h1{
  @apply font-extrabold text-3xl;
}

h2{
  @apply font-bold text-xl;
}

.grid-bg{
  background-color: #e5e5f7;
  opacity: .05;
  background-image:  linear-gradient(oklch(70.7% 0.022 261.325) 1px, transparent 1px), linear-gradient(to right, oklch(70.7% 0.022 261.325) 1px, var(--background-color) 1px);
  background-size: 45px 45px;
}
